@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-white dark:bg-[#000000];
  @apply text-zinc-900/80 dark:text-white/80;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-white/75 dark:bg-[#000000]/25;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold;
  @apply prose-headings:text-zinc-900 prose-headings:dark:text-white;
  @apply prose-p:text-zinc-600 prose-p:dark:text-white/70;
}

@layer base {
  ::selection {
    @apply bg-cyan-400/30 text-black dark:bg-cyan-400 dark:text-black;
  }

  /* scrollbar style */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-300 dark:bg-stone-800 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-400 dark:bg-cyan-900;
  }
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-cyan-400/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-cyan-400;
    @apply decoration-black/25 dark:decoration-cyan-400/50;
  }
}

.animate {
  @apply translate-y-3 opacity-0;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}
