---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
import Link from "@components/Link.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute -top-20 right-0">
        <BackToTop />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        &copy; 2026 {`|`}
        {SITE.NAME}
        <span class="opacity-50">|</span>
        <Link
          href="/credits"
          underline={false}
          class="text-sm transition-colors hover:text-cyan-400"
        >
          credits
        </Link>
        <span class="opacity-50">|</span>
        <Link
          href="/contributors"
          underline={false}
          class="text-sm transition-colors hover:text-cyan-400"
        >
          contributors
        </Link>
      </div>
    </div>
  </Container>
</footer>
